<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function showSubmissionModal() {
                const modal = document.getElementById('submission-modal');
                modal.classList.add('flex');
                modal.classList.remove('hidden');
            }

            function hideSubmissionModal() {
                const modal = document.getElementById('submission-modal');
                modal.classList.remove('flex');
                modal.classList.add('hidden');
            }

            function fetchAndDisplayCompetitionInfo() {
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');
                fetch('/competition_info')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Populate the 'content' div with the HTML from the response
                        const contentDiv = document.getElementById('content');
                        contentDiv.style.display = 'block';
                        contentDiv.innerHTML = marked.parse(data.response);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }

            function fetchAndDisplayDatasetInfo() {
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');
                fetch('/dataset_info')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Populate the 'content' div with the HTML from the response
                        const contentDiv = document.getElementById('content');
                        contentDiv.innerHTML = marked.parse(data.response);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }

            function fetchAndDisplayPublicLeaderboard() {
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');
                fetch('/leaderboard/public')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Populate the 'content' div with the HTML from the response
                        const contentDiv = document.getElementById('content');
                        contentDiv.innerHTML = marked.parse(data.response);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }

            function fetchAndDisplayPrivateLeaderboard() {
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');
                fetch('/leaderboard/private')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Populate the 'content' div with the HTML from the response
                        const contentDiv = document.getElementById('content');
                        contentDiv.innerHTML = marked.parse(data.response);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }
            function fetchAndDisplaySubmissions() {
                const userToken = document.getElementById('user_token').value;
                const apiEndpoint = '/my_submissions';
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');

                const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ "user_token": userToken })
                };

                fetch(apiEndpoint, requestOptions)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        const contentDiv = document.getElementById('content');
                        contentDiv.innerHTML = marked.parse(data.response.submission_text) + marked.parse(data.response.submissions);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }

            function fetchAndDisplaySubmissionInfo() {
                const articleLoadingSpinner = document.getElementById('articleLoadingSpinner');
                articleLoadingSpinner.classList.remove('hidden');
                fetch('/submission_info')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json(); // Parse the JSON response
                    })
                    .then(data => {
                        // Populate the 'content' div with the HTML from the response
                        const contentDiv = document.getElementById('content');
                        contentDiv.innerHTML = marked.parse(data.response);
                        articleLoadingSpinner.classList.add('hidden');
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                        articleLoadingSpinner.classList.add('hidden');
                    });
            }

            // Find the 'Home' link in the sidebar
            const homeLink = document.getElementById('home');
            const datasetLink = document.getElementById('dataset');
            const publicLBLink = document.getElementById('public_lb');
            const privateLBLink = document.getElementById('private_lb');
            const newSubmission = document.getElementById('new_submission');
            const mySubmissions = document.getElementById('my_submissions');
            const submissionInfo = document.getElementById('submission_info');

            // Add a click event listener to the 'Home' link
            homeLink.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplayCompetitionInfo(); // Fetch and display info on click
            });

            datasetLink.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplayDatasetInfo(); // Fetch and display info on click
            });

            publicLBLink.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplayPublicLeaderboard(); // Fetch and display info on click
            });

            privateLBLink.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplayPrivateLeaderboard(); // Fetch and display info on click
            });

            newSubmission.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                showSubmissionModal(); // Fetch and display info on click
            });
            mySubmissions.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplaySubmissions(); // Fetch and display info on click
            });
            submissionInfo.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default link behavior
                fetchAndDisplaySubmissionInfo(); // Fetch and display info on click
            });

            // Fetch and display info when the page loads
            fetchAndDisplayCompetitionInfo();

            document.querySelector('#submission-modal .cancel').addEventListener('click', function () {
                hideSubmissionModal();
            });
        });

    </script>
</head>

<body class="flex h-screen">
    <!-- Sidebar -->
    <aside id="sidebar-multi-level-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="#" id="home"
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg class="w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                            viewBox="0 0 22 21" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path d="M1,10 L11,1 L21,10 L21,20 L1,20 Z" /> <!-- House structure -->
                            <path d="M6,20 L6,14 L16,14 L16,20" /> <!-- Door -->
                        </svg>

                        <span class="ms-3">Home</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="dataset"
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100 group">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 18 18">
                            <path
                                d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Dataset</span>
                    </a>
                </li>
                <li>
                    <button type="button"
                        class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100"
                        aria-controls="lb-dropdown" data-collapse-toggle="lb-dropdown">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 18 21">
                            <path d="M2,4 L20,4 L20,16 L2,16 Z" />
                            <path d="M6,17 L16,17 L16,18 L6,18 Z" />
                        </svg>
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Leaderboard</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <ul id="lb-dropdown" class="py-2 space-y-2">
                        <li>
                            <a href="#" id="public_lb"
                                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Public</a>
                        </li>
                        <li>
                            <a href="#" id="private_lb"
                                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Private</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <button type="button"
                        class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100"
                        aria-controls="submissions-dropdown" data-collapse-toggle="submissions-dropdown">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 20">
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z" />
                            <path
                                d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z" />
                            <path
                                d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z" />
                        </svg>
                        <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Submissions</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <ul id="submissions-dropdown" class="py-2 space-y-2">
                        <li>
                            <a href="#" id="submission_info"
                                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">Submission
                                information</a>
                        </li>
                        <li>
                            <a href="#" id="my_submissions"
                                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">My
                                submissions</a>
                        </li>
                        <li>
                            <a href="#" id="new_submission"
                                class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100">New
                                submission</a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="#"
                        class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100">
                        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 18">
                            <path
                                d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                        </svg>
                        <span class="flex-1 ms-3 whitespace-nowrap">Team</span>
                    </a>
                </li> -->
                <li>
                    <label for="user_token" class="text-xs font-medium">Hugging Face Token (read-only)
                    </label>
                    <input type="password" name="user_token" id="user_token"
                        class="mt-1 block w-full border border-gray-300 px-3 py-1.5 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </li>
            </ul>
            <footer>
                <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
                    <span class="text-sm text-gray-500 sm:text-center">Powered by <a
                            href="https://github.com/huggingface/competitions" class="hover:underline">Hugging Face
                            Competitions</a>
                    </span>
                </div>
            </footer>
        </div>
    </aside>
    <div class="p-1 sm:ml-64">
        <img src={{logo}} alt="Competition logo">
        <hr class="mt-3 mb-2">
        <div id="articleLoadingSpinner" role="status"
            class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
            <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"></div>
            <span class="sr-only">Loading...</span>
        </div>
        <article class="prose w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
            id="content">
        </article>
    </div>
    <div id="submission-modal" tabindex="-1"
        class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div id="loadingSpinner" role="status"
            class="hidden absolute -translate-x-1/2 -translate-y-1/2 top-2/4 left-1/2">
            <div class="animate-spin rounded-full h-32 w-32 border-b-2 border-gray-900"></div>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="form-container max-w-5xl mx-auto mt-3 p-6 shadow-2xl bg-white">
            <p class="text-lg font-medium text-gray-900">New Submission</p>
            <form action="#" method="post" class="gap-2" enctype="multipart/form-data">
                {% if competition_type == 'generic' %}
                <div class="form-group">
                    <label class="block mb-2 text-sm font-medium text-gray-900" for="submission_file">Upload
                        file</label>
                    <input
                        class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none "
                        id="submission_file" type="file" name="submission_file">
                </div>
                {% endif %}
                {% if competition_type == 'code' %}
                <div class="form-group">
                    <label for="hub_model" class="text-sm font-medium text-gray-700">Hub model
                    </label>
                    <input type="text" name="hub_model" id="hub_model"
                        class="mt-1 block w-full border border-gray-300 px-3 py-1.5 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                        placeholder="username/my-model">
                </div>
                {% endif %}
                <div class="form-group mt-2">
                    <label for="submission_comment" class="text-sm font-medium text-gray-700">Submission description
                        (optional)
                    </label>
                    <textarea id="submission_comment" name="submission_comment" rows="5"
                        class="p-2.5 w-full text-sm text-gray-900" placeholder=""></textarea>
                </div>
                <div class="form-actions mt-6">
                    <button data-modal-hide="submission-modal" type="button"
                        class="confirm text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                        Submit
                    </button>
                    <button data-modal-hide="submission-modal" type="button"
                        class="cancel text-white bg-red-600 hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-red-200 rounded-lg border border-red-200 text-sm font-medium px-5 py-2.5 hover:text-red-900 focus:z-10">Cancel</button>
                </div>
            </form>
            <hr class="mt-3">
            <div id="error-message" style="color: red;"></div>
            <div id="success-message" style="color: green;"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelector('.confirm').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('error-message').textContent = '';
            document.getElementById('success-message').textContent = '';
            const loadingSpinner = document.getElementById('loadingSpinner');
            loadingSpinner.classList.remove('hidden');

            var formData = new FormData();
            var competitionType = '{{ competition_type }}';

            if (competitionType === 'generic') {
                var submissionFile = document.getElementById('submission_file').files[0];
                formData.append('submission_file', submissionFile);
                formData.append('hub_model', 'None');
            } else if (competitionType === 'code') {
                var hubModel = document.getElementById('hub_model').value;
                if (!hubModel) {
                    alert('Hub model is required.');
                    return;
                }
                formData.append('hub_model', hubModel);
            } else {
                alert('Invalid competition type.');
                return;
            }

            var token = document.getElementById('user_token').value;
            formData.append('token', token);

            var submissionComment = document.getElementById('submission_comment').value;
            formData.append('submission_comment', submissionComment);

            fetch('/new_submission', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    loadingSpinner.classList.add('hidden');
                    document.getElementById('success-message').textContent = data.response;

                })
                .catch((error) => {
                    console.error('Error:', error);
                    loadingSpinner.classList.add('hidden');
                    document.getElementById('error-message').textContent = error;
                });
        });
    });
</script>

</html>